<%- include('../partials/header.ejs') %>

<h1> Add Item </h1>

<form action="/items/<%= item._id %>?_method=PUT" method="POST">

  <label for="name">Name</label>
  <input type="text" id="name" name="name" value="<%= item.name %>" required>
  
  <label for="description">Description</label>
  <textarea type="text" id="description" name="description"><%= item.description %></textarea>
  
  <label for="category">Category</label>
  <input type="text" id="category" name="category" value="<%= item.category %>"required>

  <label for="location">Location</label>
  <input type="text" id="location" name="location" value="<%= item.location %>" required>

  <button type="submit">Edit Item</button>
</form>

<%- include('../partials/footer.ejs') %>
